body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

.calculadora{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: minmax(100px, auto) repeat(5, 10vh);
    background-color: rgb(150, 93, 9);
    width: 48vw;
    height: 80vh;
    flex-wrap: wrap;
}

.calculadora > button{
    font-size: 100%;
    border: 1px solid rgb(253, 4, 4);
    outline: none;
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 0.5rem;
}

.display{
    grid-column: 1 / -1;
    background-color: rgb(41, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 0.5rem;
    height: 80%;
}

.result{
    width: 95%;
    height: 90%;
    color: rgb(252, 250, 250);
    text-align: right;
    border-radius: 0.5rem;
}

#valor-anterior{
    font-size: 2em;
}

#valor-actual{
    font-size: 1.5em;
}

.calculadora > button:hover{
    background-color: rgb(36, 36, 34);
}

.calculadora > button:active{
    background-color: rgb(54, 1, 245);
}

.btngrande2{
    grid-row: 6;
    grid-column: 1 / 3;
}

.btngrande1{
    grid-column: 4;
    grid-row: 5 / 7;
}